.navbar { background-color: transparent;
}





@keyframes fade-in {
    from { opacity: 0; }
  }

  @keyframes fade-out {
    to { opacity: 0; }
  }

  @keyframes slide-from-right {
    from { transform: translateX(90px); }
  }

  @keyframes slide-to-left {
    to { transform: translateX(-90px); }
  }


  @keyframes grow{
    to {transform: scale(1); }
  }

  /* define animations for the old and new content */
  ::view-transition-old(slide-it) {
    animation: 180ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    600ms cubic-bezier(0.4, 0, 0.2, 1) both grow;
  }
 
 
.dropdown-item{
  color: black !important;
}
  /* tie the view transition to a given CSS class */
  .containerss {
      view-transition-name: slide-it;
  }