{% extends 'Events/base/base.html' %}

<!-- Title Block -->
{% block title %}Domini Xode - Events{% endblock %}

<!-- -->
{% block content %} {% load static %} {% load custom_filter %}

<style>
  nav a {
    color: black !important;
  }
  #hero {
    color: black !important;
  }
  .hamburger-icon {
    fill: black;
    stroke: black;
  }
</style>

<div class="h-screen w-full flex flex-col items-center justify-center">
  <div class="h-3/4 w-full flex justify-center flex-wrap gap-4">
    {% for event in events %}
    <div
      class="w-80 bg-white border border-gray-200 rounded-lg shadow flex flex-col"
    >
      <div class="w-full flex items-center justify-center">
        {% if event.flyer %}

        <img
          class="rounded-t-lg"
          height="320"
          width="320"
          src="{{event.flyer.url}}"
          alt=""
        />

        {% else %}

        <img
          class="rounded-t-lg"
          height="320"
          width="320"
          src="/media/domini_xode_logo.jpg"
          alt=""
        />

        {% endif %}
      </div>
      <div class="p-5 flex-grow">
        <h5
          class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 text-center"
        >
          {{event.event_name}}
        </h5>

        <h1 class="text-center font-semibold">
          Start: {{event.event_start_date}}
        </h1>
        <h1 class="text-center font-semibold">End: {{event.event_end_date}}</h1>

        <div>
          <!-- Check if the status is ongoing, done, or upcoming using the event.event_start_date and end_date-->
          <div class="text-center mt-4">
            {% if event|date_status == 'Ongoing' %}
            <span
              class="inline-block px-4 py-1 bg-green-500 text-white font-semibold rounded-full"
              >Ongoing</span
            >
            {% elif event|date_status == 'Done' %}
            <span
              class="inline-block px-4 py-1 bg-gray-500 text-white font-semibold rounded-full"
              >Done</span
            >
            {% else %}
            <span
              class="inline-block px-4 py-1 bg-blue-500 text-white font-semibold rounded-full"
              >Upcoming</span
            >
            {% endif %}
          </div>
        </div>

        <p class="mt-6 mb-3 font-normal text-gray-700 text-center">
          {{event.event_description | truncatewords:16}}
        </p>
      </div>
      <div class="p-5 flex justify-center mb-4"></div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="h-screen w-full"></div>

{% endblock %}
