{% extends "UserInterface/base.html" %}

<!-- Frame Maker-->

{% block content %}

<link rel="stylesheet" href="/static/FrameMaker/styles.css" />
<link rel="stylesheet" href="/static/FrameMaker/spinner.css" />

<div
  class="flex justify-center items-center min-h-screen bg-gray-200 font-sans"
>
  <div class="text-center p-4">
    <h1 class="text-2xl font-bold mb-4 mt-16">Domini Xode Frame Applier</h1>

    <form class="max-w-sm mx-auto flex flex-col gap-4">
      <select
        id="year_level"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      >
        <option selected value="">Choose year level</option>
        <option value="FRESHMEN">Freshmen</option>
        <option value="JUNIOR">Junior</option>
        <option value="SOPHOMORE">Sophomore</option>
        <option value="SENIOR">Senior</option>
      </select>

      <label for="emotion">Choose your emotion for this academic year!</label>
      <select
        id="emotion"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      >
        <option selected value="">Choose emotion</option>
        <option value="ANGER">Anger</option>
        <option value="ANXIETY">Anxiety</option>
        <option value="DISGUST">Disgust</option>
        <option value="EMBARASSMENT">Embarassment</option>
        <option value="ENNUI">Ennui</option>
        <option value="ENVY">Envy</option>
        <option value="FEAR">Fear</option>
        <option value="JOY">Joy</option>
      </select>
    </form>
    <input type="file" id="upload" accept="image/*" class="mb-4 mt-4" />
    <!-- Generate Button -->

    <br />

    <button
      id="generate"
      class="px-4 py-2 my-4 cursor-pointer bg-gray-900 text-white rounded"
    >
      Generate
    </button>

    <div
      class="relative h-[360px] w-[360px] md:w-[480px] md:h-[480px]"
      id="image-container"
    >
      <img id="uploaded-image" class="absolute uploaded-image" />
      <img id="frame-image" class="absolute frame-image" />
    </div>

    <canvas class="hidden" id="hidden-canvas"></canvas>

    <button
      id="download"
      class="mt-4 px-4 py-2 text-lg cursor-pointer bg-blue-500 text-white rounded"
    >
      Download
    </button>
  </div>

  <div
    class="hidden flex h-screen w-full z-50 absolute items-center justify-center"
    id="loading"
  >
    <div class="loading-spinner" id="loading-spinner"></div>
  </div>

  <script src="/static/FrameMaker/frame_maker.js"></script>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var isIOS =
        /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream
      if (isIOS) {
        var elements = document.querySelectorAll(".desktop-only")
        elements.forEach(function (element) {
          element.remove()
        })
      }
    })
  </script>
</div>

{% endblock content %}
