
{% block content %} 
<style>

  a{
    color: black !important;
  }
  
  
</style>

  <main class="my-5">
    <div class="container">
      <!--Section: Content-->
      <section class="text-center">
        <h4 class="mb-5"><strong>Latest posts</strong></h4>
        
     
    <div class="row">
    {% for article in announcements %}
      

   
 <div class="col-lg-4 col-md-12 mb-4">
   <div class="card">
     <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">

      {% if article.thumbnail %}

        <img src="{{article.thumbnail.url}}" class="img-fluid"  alt = '...'/>

      {% endif %}

       <a href="#!">
         <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
       </a>
     </div>
     <div class="card-body">
       <h5 class="card-title">{{article.title}}</h5>
       <p class="card-text">
         {{article.description |truncatewords:16  }}
       </p>
       <button hx-get="/articles/view_article/{{article.id}}" hx-push-url = 'true' hx-trigger = 'click' hx-target = 'body' class="btn btn-primary">Read</button>
     </div>
   </div>


 </div>
 

 {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
 {% endif %}

    {% endfor %}

      
      </section>
      
    </div>
  </main>
 
 
 
    


