{% extends 'UserInterface/base.html' %}


{% block title %} Articles {% endblock title %} 



{% block content %} 


    {% for i in announcements %}

    <table class="table mt-5 mt-5 font-monospace">
        <thead>
            <tr >
                <th  >
                    Title
                </th>
                <th>
                    Author  
                </th>
            </tr>


            <tbody>
                {% for i in announcements %}
                    <tr>
                        <td>{{i.title}}</td>
                        <td>{{i.author}}</td>

                    </tr>

                {% endfor %}
            </tbody>
        </thead>



    </table>
    
    {% endfor %}


{% endblock %}