{% extends 'UserInterface/base.html' %}
{% block content %} 

<style>

    @keyframes typing {
  from {
    width: 0;
  }

  to {
    width: auto;
  }
}

  .codeblock {
    width: 50vw;
    height: 75vh;
    word-wrap: break-word;
    overflow-y: scroll;
  }

  textarea {
    width: 50vw;
    height: 75vh;
    overflow-y: scroll;
    tab-size: 4;
  }
</style>

<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">


  <div class="form-row align-items-center index_title">
    <div class="row">
      <div class="col-6 mb-2">
        <form class="border">
          <textarea id="code" name="code" placeholder="Place command here"></textarea>
        </form>
      </div>
      <div class="col-6 mb-2">
        <p class="codeblock border" id="codeblock"></p>
      </div>
    </div>
  </div>

  <button class="btn btn-secondary" type="button" onclick="insertStringIntoCode()">Code IT</button>

  <script>
    async function insertStringIntoCode() {
      // Call the API and get the string
      $('#codeblock').text('Generating response...')
      const stringFromAPI = await fetch(`/api/codeit?msg=${$('#code').val()}`, {method: "GET"}).then(response => response.json());

     $('#codeblock').html(stringFromAPI)

    
    }
  </script>
</div>
{% endblock content %}