{% extends 'UserInterface/base.html' %}


{% block title %} Contact Us {% endblock title %} 


{% block content %} 

<div class ="d-flex flex-column min-vh-100 mx-3 justify-content-center align-items-center">  
     <div class="form-row align-items-center">
     
       <div class="col-md-12 mb-2">
            <h1 class="font-monospace">The Dominican Code |  Domini Xode</h1>
            <small class="font-monospace">The Student Organization of the Bachelor of Science in Information Technology at St. Dominic College of Asia</small>

        </div>

        <div class="col-md-12 mb-2 text-center">
            <h1 class="font-monospace text-center mt-5">Contact Us</h1>




            <!-- Not yet decided if Im going to put a link to the socials or just put 
            a contact us form or do both.
            -->
            <button class="font-monospace btn btn-secondary   mt-3"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
              </svg>bsitdominixode@sdca.edu.ph</button>
              <br>


            <button class="font-monospace btn btn-secondary  mt-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                    <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
                  </svg>
                  BSIT Domini Xode
            </button>
            



        </div>
   </div>
  </div>    

{% endblock content %}