{% extends "UserInterface/base.html" %}


{% block title %} The Dominican Code | Domini Xode  {% endblock title %} 


{% block content %} 

<div class ="d-flex flex-column min-vh-100 mx-3 justify-content-center align-items-center">  
    <form action = "/login_user" method = "post">
     <div class="form-row align-items-center">
     
       <div class="col-md-12 mb-2">
            <h1 class="font-monospace">The Dominican Code |  Domini Xode</h1>
            <small class="font-monospace">The Student Organization of the Bachelor of Science in Information Technology at St. Dominic College of Asia</small>

        </div>
   
   </div>
   </form>
   </,div>





{% endblock content %}