{% extends 'UserInterface/base.html' %}



{% block title %} {{article.title}} {% endblock title %} 


{% block head %} 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

<!-- and it's easy to individually load additional languages -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>

<script>hljs.highlightAll();</script>

{% endblock head %}


{% block content %}
<style>

  a{
    color: black !important;
  }

  .image{
  max-width: 45vw !important;
   max-height: 75vh !important;
    margin: auto;

}
 
  @media (max-width: 768px) {
    .image{
      max-width: 55vw !important;
      max-height: 75vh !important;
        margin: auto;
        

      }
  }
   


  
</style>
<!-- Jumbotron -->
    <div id="intro" class="p-5 text-center bg-light">
      <h1 class="mb-0 h4">{{article.title}}</h1>
    </div>
    <!-- Jumbotron -->
  </header>
  <!--Main Navigation-->

  <!--Main layout-->
  <main class="mt-4 mb-5">
    <div class="container w-100">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-12 mb-5">
          <!--Section: Post data-mdb-->




          <section class="border-bottom mb-4">
      
            
     
            <div class="row align-items-center mb4">
              <img src="{{article.thumbnail.url}}"
              class="image img-fluid  rounded mb-4" alt="" />

            </div>

            <div class="row align-items-center mb-4">

             

              <div class="col-lg-6 text-center text-lg-start mb-3 m-lg-0">
                <img class="rounded-circle" height="35" src="{{article.author.image_link}}"
                   alt="" loading="lazy" />
                <span> Published <u>{{article.date}}</u> by</span>
                <a href="" class="text-dark">{{article.author}}</a>
              </div>

              <div class="col-lg-6 text-center text-lg-end">
                <button type="button" class="btn btn-primary px-3 me-1" style="background-color: #3b5998;">
                  <i class="fab fa-facebook-f"></i>
                </button>
                <button type="button" class="btn btn-primary px-3 me-1" style="background-color: #55acee;">
                  <i class="fab fa-twitter"></i>
                </button>
            
             
              </div>
            </div>
          </section>


          <section>
<p>
  {{article.content | safe}}
  
</p>

          </section>

          <!--Section: Author-->
          <section class="border-bottom mb-4 pb-4">
            <div class="row">
              <div class="col-3">
                <img src="{{article.author.image_link}}"
                  class="img-fluid shadow-1-strong rounded-circle" alt="" />
              </div>

              <div class="col-9">
                <p class="mb-2"><strong>{{article.author}}</strong></p>
                <a href="" class="text-dark"><i class="fab fa-facebook-f me-1"></i></a>
                <a href="" class="text-dark"><i class="fab fa-twitter me-1"></i></a>
                <a href="" class="text-dark"><i class="fab fa-linkedin me-1"></i></a>
                <p>
                  {{article.author.description}}
                </p>
              </div>
            </div>
          </section>
          <!--Section: Author-->

</div>
</div>
</div>
</main>


{% endblock content %}