<nav class="border-gray-200 z-40 bg-white/0 w-full absolute">
  <div
    class="max-w-screen-xl flex flex-wrap items-center w-full justify-between md:justify-start mx-auto p-4"
  >
    <a
      href="https://www.dominixode.org/"
      class="flex items-center space-x-3 rtl:space-x-reverse mr-20"
    >
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap text-white"
        id="hero"
        >Domini</span
      >
    </a>
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden focus:ring-gray-200"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5 hamburger-icon"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 17 14"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul
        class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 bg-white md:bg-transparent rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0"
      >
        <li>
          <a
            href="{% url 'index' %}"
            hx-get="{% url 'index' %}"
            hx-push-url="true"
            hx-swap="innerHTML transition:true"
            hx-target="#content"
            class="cursor-pointer block py-2 px-3 text-black md:text-white rounded md:p-0"
            aria-current="page"
            >Home</a
          >
        </li>
        <li>
          <a
            href="{% url 'articles' %}"
            hx-get="{% url 'articles' %}"
            hx-push-url="true"
            hx-swap="transition:true"
            hx-target="#content"
            class="cursor-pointer block py-2 px-3 text-black md:text-white rounded md:border-0 md:p-0"
            >Articles</a
          >
        </li>
        <li>
          <a
            href="{% url 'events' %}"
            hx-get="{% url 'events' %}"
            hx-push-url="true"
            hx-swap="transition:true"
            hx-target="#content"
            class="cursor-pointer block py-2 px-3 text-black md:text-white rounded md:border-0 md:hover:text-blue-700 md:p-0"
            >Events</a
          >
        </li>
        <li>
          <a
            id="dropdownDefaultButton"
            data-dropdown-toggle="dropdown"
            class="cursor-pointer block py-2 px-3 text-black md:text-white rounded md:border-0 md:hover:text-blue-700 md:p-0 inline-flex items-center"
            type="button"
            >About Us
            <svg
              class="w-2.5 h-2.5 ms-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 10 6"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 4 4 4-4"
              />
            </svg>
          </a>

          <!-- Dropdown menu -->
          <div
            id="dropdown"
            class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44"
          >
            <ul
              class="py-2 text-sm text-gray-700 dark:text-gray-200"
              aria-labelledby="dropdownDefaultButton"
            >
              <li>
                <a
                  href="{% url 'yearlist' %}"
                  hx-get="{% url 'yearlist' %}"
                  hx-push-url="true"
                  hx-swap="transition:true"
                  hx-target="#content"
                  class="cursor-pointer block px-4 py-2 text-black"
                  >Domini Xode Officers</a
                >
              </li>
              <li>
                <a
                  href="{% url 'testimonials' %}"
                  hx-get="{% url 'testimonials' %}"
                  hx-push-url="true"
                  hx-swap="innerHTML transition:true"
                  hx-target="#content"
                  class="cursor-pointer block px-4 py-2 text-black"
                  >Testimonies</a
                >
              </li>
              <li>
                <a
                  href="{% url 'mission' %}"
                  hx-get="{% url 'mission' %}"
                  hx-push-url="true"
                  hx-swap="innerHTML transition:true"
                  hx-target="#content"
                  class="cursor-pointer block px-4 py-2 text-black"
                  >Domini Xode Mission
                </a>
              </li>

              <li></li>
            </ul>
          </div>
        </li>
        <li>
          <a
            href="{% url 'contact' %}"
            hx-get="{% url 'contact' %}"
            hx-push-url="true"
            hx-swap="innerHTML transition:true"
            hx-target="#content"
            class="cursor-pointer block py-2 px-3 text-black md:text-white rounded md:border-0 md:hover:text-blue-700 md:p-0"
            >Contact Us</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
