{% extends 'Contact/base/base.html' %}

{% block title %} Domini Xode - Contact Us {% endblock title %}
{% block content %} 
<style>

  nav a{
    color: black !important;
  }
  nav span{ 
    color: black !important;
  }
</style>
<section class="bg-white"></section>
  <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
      <h2 class="mb-4 text-4xl tracking-tight font-thin text-center text-gray-900">Contact Us</h2>
      <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 sm:text-xl">
        Have a question about our tech events? Want to collaborate on a project? Need support with your coding journey? Reach out to us!
      </p>
      <form action="" method = "POST" class="space-y-8">

        {% csrf_token %}
          <div>
              <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Your email</label>
              <input type="email" id="email" name = "email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5" placeholder="name@dominixode.org" required autocomplete="off">
          </div>
          <div>
            <label for="fullname" class="block mb-2 text-sm font-medium text-gray-900">Your Full Name</label>
            <input type="text" id="fullname" name = "fullname" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5" placeholder="Juan Dela Cruz" required autocomplete="off">
        </div>
          <div>
              <label for="subject" class="block mb-2 text-sm font-medium text-gray-900">Subject</label>
              <input type="text" id="subject" name = "subject" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500" placeholder="Let us know how we can help you" required autocomplete="off">
          </div>

          <div>
            <label for="phone" class="block mb-2 text-sm font-medium text-gray-900">Contact Number</label>
            <input type="text" id="phone" name = "phone" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500" placeholder="Let us know how we can help you" required autocomplete="off">
        </div>
          <div class="sm:col-span-2">
              <label for="message" class="block mb-2 text-sm font-medium text-gray-900">Your message</label>
              <textarea id="message" rows="6" name = "message" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500" placeholder="Leave a comment..."></textarea>
          </div>
          <button type="submit" class="py-3 px-5 text-sm font-medium text-center text-black border border-black rounded-lg bg-primary-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300">Send message</button>
      </form>
  </div>
</section>
{% endblock content %}